<p>Welcome to two-way-binding</p>
<input [(ngModel)]="name" type="text" placeholder="Enter you name" />
<h2>{{name}}</h2>
<h4>You can see that whatever you type is being dynamically written back. This is achieved via two-way-binding of Template and Model</h4>

<h5>This can come in handy for example while typing address and when mailing and billing addresses are same!</h5>

<p>-------------------------------------------------------</p>

<button type="button" class="home" routerLink="/">Home</button>