<h3><u>Routing with parameters</u></h3>
<p>All the components have been routed and can be seen in routing.module.ts file</p>

<h3><u>Predefined directives</u></h3>
<button type="button" routerLink="/ngIf">ngIf directive</button>
<button type="button" routerLink="/ngFor">ngFor directive</button>
<button type="button" routerLink="/ngClass">ngClass directive</button>
<button type="button" routerLink="/ngStyle">ngStyle directive</button>
<br>
<br>
<h3><u>Data binding types</u></h3>
<button type="button" routerLink="/interpolation">String interpolation</button>
<button type="button" routerLink="/propertyBinding">Property Binding</button>
<button type="button" routerLink="/eventBinding">Event Binding</button>
<button type="button" routerLink="/twoWayBinding">Two way Binding</button>
<br>
<br>
<p>---------------------------------------</p>
<br>
<br>
<h3><u>Pipes</u></h3>

<button type="button" routerLink="/pipes">Pipes</button>