<h3><u>Routing with parameters</u></h3>
<p>All the components have been routed and can be seen in routing.module.ts file</p>

<h3><u>Predefined directives</u></h3>
<button type="button" routerLink="/ngIf">ngIf directive</button>
<button type="button" routerLink="/ngFor">ngFor directive</button>
<button type="button" routerLink="/ngClass">ngClass directive</button>
<button type="button" routerLink="/ngStyle">ngStyle directive</button>
<br>
<br>
<h3><u>Data binding types</u></h3>
<button type="button" routerLink="/interpolation">String interpolation</button>
<button type="button" routerLink="/propertyBinding">Property Binding</button>
<button type="button" routerLink="/eventBinding">Event Binding</button>
<button type="button" routerLink="/twoWayBinding">Two way Binding</button>
<br>
<br>
<h3><u>Pipes</u></h3>

<button type="button" routerLink="/pipes">Pipes</button>
<br>
<br>
<h3><u>Using a service</u></h3>
<h4>Here a <u><b>lifecycle hook</b></u> called ngOnInit() has been used. </h4>
<h6>Initialize the directive or component after Angular first displays the data-bound properties and sets the directive or component's input properties.</h6>
<p>There are other types of lifecycle hooks like ngOnDestroy(), ngOnChanges() etc.</p>

<button type="button" routerLink="/empDetails">Employee Details</button>
<br>
<br>
<h3><u>Using a Custom Directive</u></h3>
<p>This text does not make use of custom directives</p>
<p appTextModify>However, this text is changed using a custom directive</p>
<br>

<h3><u>Host Listener and Host Binding examples</u></h3>

<button type="button" routerLink="/hostListener">Host Listener</button>
<br>
<br>
<br>

<h3><u>Content Projection in Angular</u></h3>

<button type="button" routerLink="/contentProjection">Host Listener</button>
<br>
<br>
<br>

<h3><u>ng-Container use in Angular</u></h3>

<button type="button" routerLink="/container">ng-container </button>
<br>
<br>
<br>

<h3><u>ng-template use in Angular</u></h3>

<button type="button" routerLink="/template">ng-template </button>